// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.img-rounded {
  width :auto;
  max-height: 50px;
}

.topic_content {
  font-size: 200%;
}